.pez-1{
    height: 700px;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.pez{
    height: 650px;
    width: 1220px;
    background-color:rgb(90, 99, 107);
    display:flex;
    border-radius: 15px;

}
header{
    height: 570px;
    width: 60px;
    margin-top: 40px;
    margin-left:20px;
    border-radius: 15px;
    background-color: black;
    color: #fff;
}
.header1{
    height: 95px;
    width: 100%;
}
.header1-img{
    height: 57px;
    width: 57px;
    border-radius: 15px;
}
svg{
    height: 30px;
    width: 30px;
    margin: 15px;
}
main{
    height: 570px;
    width: 700px;
    margin-top: 40px;
    margin-left:40px;
    border-radius: 15px;
    background-color: black;
}

.main-box1{
  height: 40px;
  width: 150px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  background: rgb(90, 99, 107);
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.search-container {
  display: flex;
  align-items: center;
  background-color:  rgb(90, 99, 107);
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  width: 100%;
  max-width: 400px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.search-container input{
  background-color: rgb(90, 99, 107);
  color: #fff;
}
.search-container input[type="text"] {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
  flex: 1;
}

.search-container button {
  border: none;
  background-color: #4f46e5;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.search-container button:hover {
  background-color: #4338ca;
}
.button-div{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* margin-top:90px; */
}
.sub{
  height: 250px;
  width: 200px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: rgb(90, 99, 107);
}
.sub b{
  color: #fff;
  margin-left: 20px;
  margin-top: 30px;
}
.sub h1{
  color: #fff;
  font-size: 40px;
  margin-left: 30px;
}
.sub p{
  color: #fff;
  margin-left: 20px;
}
.sub img{
  height: 50px;
  width: 50px;
  margin-left: 150px;
  margin-top: 15px;
}
.main-box2{
  height: 50px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.main-box2  button{
  height: 50px;
  width: 140px;
  border-radius: 15px;
  background-color: black;
  color: #fff;
  font-size: 20px;
}
.footer{
    height: 570px;
    width: 160px;
    margin-top: 40px;
    margin-left:40px;
}
.footer1{
    height: 100px;
    width: 200%;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
    color: #fff;
}
.clock{
    background-color: black;
    height: 100px;
    text-align: center;
    font-size: 85px;
    border-radius: 15px;
    font-family:  'Gill Sans MT';
}
@keyframes glow {
    from {
      box-shadow: 0 0 10px #00f0ff;
    }
    to {
      box-shadow: 0 0 30px #00f0ff;
    }
  }
.footer2{
    height: 430px;
    width: 200%;
    background-color: black;
    color: #fff;
    margin-top: 40px;
    border-radius: 15px;
    text-align: center;
}
.song-img{
  height: 150px;
  width: 150px;
  margin-top: 20px;
  border-radius: 50%;
  border: solid;
}
